@import '~zp-ui/styles/func';

.login {
  @include flexbox(column, nowrap, space-around, center);

  align-self: center;
  width: torem(300px);
  height: torem(180px);
  background-color: #f5f5f5;

  .input {
    width: torem(240px);
    height: torem(50px);
  }

  .submit {
    padding: torem(6px) torem(20px);
    cursor: pointer;
  }
}
